<h1>NEW COCKTAIL PAGE</h1>

<h3>Add a cocktail below:</h3>

<%= simple_form_for (@cocktail) do |f| %>
  <%= f.input :name %>



  <%= f.association :ingredients %>

  <%= f.submit "Add a cocktail", class: "btn btn-primary" %>
<% end %>
