
header {
  // background: linear-gradient(0deg, #ffd, #dff);
  background-image: linear-gradient(0deg, rgba(255, 246, 253, 0.86), rgba(68, 255, 228, 0.39)), url("https://res.cloudinary.com/lionelrowe/image/upload/v1542370978/beach-coast-coconut-trees-221471_tlx1xs.jpg");
  // linear-gradient(0deg, #ffd, #dff);
  background-size: cover;
  background-position: center;
}

#logo-bar {
  // padding: 25px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: -25px;
}

.logo-bar-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 20em;
  padding: 0 20px;
}

#logo {
  position: relative;
  border-radius: 50%;
  height: 100px;
  width: 100px;

  background: url("https://res.cloudinary.com/lionelrowe/image/upload/v1542371006/logo_zab9qd.png");
  background-size: 130%;
  background-position: -10px 5px;

  display: inline-block;
  flex: 0 0 100px;
}


#logo-bar .heading {
  display: inline-block;
  // padding: 0 0 0 25px;
  padding: 50px 0 50px 25px;
  // text-align: center;
  // margin-bottom: -25px;
  // width: 15em;
  flex: 0 1 auto;

  p {
    color: #555;
  }

  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2em;
    }

    p {
      font-size: 0.8em;
    }
  }
}

.nav-tabs .active {
  z-index: 9999999999999999999999999999999999999999999;
}

.logo-shadow {
  position: absolute;
  height: 20px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 100px 100px 35px rgba(0, 0, 0, 0.5);
  transform: translate(-100px, -10px);
}
