<header>
  <div id='logo-bar'>
    <div class='logo-bar-inner'>
      <div id="logo">

        <div class="logo-shadow"></div>

      </div>
      <div class="heading">
        <h1>Mix-a-Lot</h1>
        <p><em>We cannot lie — our cocktail recipes are the best!</em></p>
      </div>
    </div>
  </div>

  <nav id='top-nav'>
    <ul class="nav nav-tabs nav-list">
      <%
        is_homepage = %i[root cocktails].any? { |el| current_page? el } && (!params[:q] || params[:q].empty?)
      %>

      <%
        tabs = [
          { txt: 'Home', path: :root, alt_path: :cocktails, active: is_homepage },
          { txt: 'Create', path: :new_cocktail, active: current_page?(:new_cocktail) },
          { txt: 'Random', path: :random_cocktail, method: :post, active: false, classes: ['hidden-xs'] }
        ]
      %>

      <% tabs.each do |tab| %>

        <%
          classes = []
          classes << 'active' if tab[:active]
          classes += (tab[:classes] || [])
        %>

        <li role="presentation" class='<%= classes.join(' ') %>'>
          <%= link_to tab[:txt], tab[:path], method: tab[:method] || :get %>
        </li>

      <% end %>

      <li role="presentation" class='search-outer'>
        <%= render 'search_form' %>
      </li>
    </ul>
  </nav>
</header>
